.addGame { 
margin-left: 100px;
width: 15rem;
height: 5rem;
font: 700 1.4rem Archivo;

display: flex;
align-items: center;
justify-content: center;

text-decoration: none;

color: var(--color-primary);
}